<style>
    div {
        text-align: center;
        margin: 40px 0;
    }
</style>
<div>
    <h2>Form Error</h2>
    <p>No valid search keyword provided</p>
    <a href="/"><button style="padding:10px 15px;">< Go back</button></a>
</div>