<div style="display:flex;justify-content:space-evenly;margin-top:50px;">
    <div style="padding: 20px 40px;">
        <h2>New and trending</h2>
        <p>Explore new books today</p>
        <a href="/books"><button style="margin-top:10px;cursor:pointer;padding:10px 15px;">Get Started Now</button></a>
    </div>
    <div style="padding:20px;">
        <img src="https://images-na.ssl-images-amazon.com/images/S/compressed.photo.goodreads.com/books/1654371463i/18144590.jpg" alt="" width="200px">
        <img src="https://m.media-amazon.com/images/I/71AHFDEpkdL.jpg" alt="" width="200px">
        <img src="https://m.media-amazon.com/images/I/61pDNU9qEGL.jpg" alt="" width="200px">
    </div>
</div>